[Unit]
Description=Enable EG25 modem on PinePhone V1.0 prototype

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/boot_eg25

[Install]
WantedBy=network.target
